.sketchActive {
  -webkit-animation:spin 4s linear infinite;
   -moz-animation:spin 4s linear infinite;
   animation:spin 4s linear infinite;
   background: linear-gradient(black, white);
}

.sketch:hover {
  transform: scale(1.1);
}

.rainbowActive {
  -webkit-animation:spin 4s linear infinite;
   -moz-animation:spin 4s linear infinite;
   animation:spin 4s linear infinite;
   background: linear-gradient(180deg, red, orange, yellow, green, aqua, blue, purple);
}

.rainbow:hover {
  transform: scale(1.1);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#restart:hover {
  background-color: grey;
}

.gridActive {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }


#sketch {
  font-family: 'Rammetto One', cursive;
  color: white;
  text-shadow: 2px 2px black;
}

#restart {
  font-family: 'Rammetto One', cursive;
  color: white;
  text-shadow: 2px 2px black;
}

#rainbow {
  font-family: 'Rammetto One', cursive;
  color: white;
  text-shadow: '2px 2px black';
}